/* Breadcrumb styles for intro-section */
section.intro-section .breadcrumb {
    margin: 0px auto;
    position: absolute;
    padding: 5px 15px;
    bottom: 0px;
    left: 0px;
    text-align: left;
    width: 100%;
    opacity: 0.9;
    background: #0e5555;
    border-radius: 0;
    font-size: 14px;
}

section.intro-section .breadcrumb-item,
section.intro-section .breadcrumb-item a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

section.intro-section .breadcrumb-item a:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

section.intro-section .breadcrumb-item.active {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

section.intro-section .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

section.intro-section .breadcrumb {
    margin: 0px auto;
    position: absolute;
    padding: 3px;
    padding-left: 15px;
    bottom: 0px;
    left: 0px;
    text-align: left;
    width: 100%;
    opacity: 0.9;
    background: #0e5555;
}