.heading-title-name{
    color: #006b7a;
}
.form-control:focus {
    box-shadow: none !important;
}
p{
    margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .body-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 992px) {
section.intro-section h1 {
    font-size: 22px;
}
.header-serch {
    width: 70%;
}
.step {
  position: relative;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 768px) {
  .logo-setup {
    text-align: left;
    margin: 0px;
}
section.intro-section h1 {
    font-size: 18px;
}
    .quantity-control {
        flex-direction: row !important;
    }
    
}

@media (max-width: 567px) {
    .header-serch {
    width: 77%;
}
    .logo-setup {
        line-height: 17px;
    }
    .main-header h4 {
        font-size: 25px;
    }
        .main-header small{
        font-size: 11px !important;
    }
}