.heading-title-name{
    color: #006b7a;
}
.form-control:focus {
    box-shadow: none !important;
}
@media (min-width: 1200px) {
  .body-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 992px) {
section.intro-section h1 {
    font-size: 22px;
}
.step {
  position: relative;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 767px) {
section.intro-section h1 {
    font-size: 18px;
}
}

