.heading-title-name{
    color: #006b7a;
}
@media (min-width: 1200px) {
  .body-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 992px) {
section.intro-section h1 {
    font-size: 22px;
}
}
@media (max-width: 767px) {
section.intro-section h1 {
    font-size: 18px;
}
}

